.triangle {
    height: 0;
    width: 0;
    border-width:  25px 37px;
    border-color: #FFF transparent transparent transparent;
    border-style: solid;
    position: absolute;
    left: 115px;
}

#logo {
    width: 811px;
    margin:  0 auto;
    border-width: 0 0 5px 0;
    border-color: #E2E2E2;
    border-style: solid;
    font-size: 30px;
    font-weight: bold;
}

#main-wrapper {
    background-color: #FFF;
}

#product-container {
    margin:  0 auto;
    width: 811px;
    position: relative;
}

.rounded-wrapper {
    background-color: rgba(255,255,255,.4);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    /* For IE 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66FFFFFF, endColorstr=#66FFFFFF);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#66FFFFFF, endColorstr=#66FFFFFF)";
    padding:  15px 15px 15px 15px;
    margin: 17px auto;
    width: 781px;
}

body {
    font-family: "Trebuchet MS",Trebuchet,Calibri,Tahoma,Arial,sans-serif;
    margin:  0;
    padding:  0;
}

#image, #product-info {
    float: left;
}

#image {
    width: 456px;
}

#product-info {
    width: 355px;
}

.clearfix {
    clear: both;
    width: 100%;
    position: relative;
}

#subtitle {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 5px 0;
}

#teaser {
    color: #FFF;
    font-size: 22px;
    margin-top: 10px;
}

#title {
    font-size: 20px;
    padding: 6px 5px 5px 0px;
}

#price {
    font-weight: bold;
    font-size: 22px;
    float: left;
    margin-bottom: 4px;
}

#shipping {
    font-size: 11px;
    margin: 8px 0 0 30px;
    float: left;
}

#condition, #product {
    clear: both;
    font-size: 11px;
}

#condition dd, #product dd {
    margin-left: 90px;
    margin-bottom: 5px;
    float: left;
    width: 250px;
}

#condition dt, #product dt {
    width: 80px;
    float: left;
    padding:  0 0 5px 0;
    position: absolute;
}

#condition dt, #product dt {
    color: #999;
    text-transform: uppercase;
    font-size: 12px;
}

#permalink {
    font-size: 10px;
    margin-left: 5px;
}

#buy-link {
    font-size: 30px;
    margin-top: 15px;
}

#buy-link, #comment-container {
    margin-left: auto;
    margin-right: auto;
    width: 315px;
    text-align: center;
}

#comment-container {
    font-size: 15px;
}

#time-updated {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 40px 10px 0;
}

#detailImage {
    display: none;
}

#list-wrapper {
    width: 811px;
    margin: 0 auto;
}

.thumbnail-container {
    width: 128px;
    margin-right: 10px;
    float: left;
}

.date-container {
    width: 75px;
    float: left;
    margin: 10px 15px 0 0;
}

.date-container span {
    display: block;
    clear: both;
    margin: 0 auto;
    text-align: center;
}

span.month-container, span.year-container {
    font-size: 15px;
}

span.day-container {
    font-size: 35px;
    font-weight: bold;
}

.info-container {
    float: left;
    padding: 10px 0;
    width: 395px;
}

.info-container span {
    display: block;
    clear: both;
}

#list-wrapper .rounded-wrapper {
    width: 625px;
    background-color: rgba(255,255,255,.8);
    /* For IE 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#CCFFFFFF);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#CCFFFFFF)";
}

.info-container .title a {
    color: #000000;
    font-size: 20px;
    text-decoration: none;
}

.info-container .comments a {
    color: #000000;
    font-size: 12px;
    text-decoration: none;
}

#pagination a {
    color: #000000;
}

#previous-link {
    display: inline-block;
}

#next-link {
    display: inline-block;
    float:right;
}

#pagination-count {
    text-align: center;
}

#title {
    font-size: 22px;
    margin-top: 10px;
    display: block;
}