body {
    background-color: #8A1B26;
}

#title, #subtitle, #teaser {
    font-family: Georgia,"Times New Roman",Times,serif;
}

#logo {
    color: #8A1B26;
}

a, a:hover, a:visited, a:active {
    color: #8A1B26;
}